.footer {
    background-color: #292c2f;
    width: 100%;
    color: whitesmoke;
    /* https://stackoverflow.com/a/18935218/1098564 */
    box-shadow: 0 50vh 0 50vh #292c2f;
    padding-top: 15px;
}

.footer a { 
    color: white;
    font-weight: bold;
}

.copyright a { color: whitesmoke; text-decoration: none; }
.copyright a:link { color: whitesmoke; text-decoration: none; }
.copyright a:hover { color: whitesmoke; text-decoration: none; }
.copyright a:visited { color: whitesmoke; text-decoration: none; }
.copyright a:active { color: whitesmoke; text-decoration: none; }
.copyright {
    text-align: center;
}

.footer .code {
    font-family: Monaco, Consolas, 'Courier New', monospace;
    background: black;
    padding: 10px;
}